*{margin:0; padding:0}

body
{
	font-family:Times New Roman;
	font-weight:normal;
	background:url(images/back.jpg);
	color:#000;
	background-size:100% 100%;
	
}

.wrapper
{
	width:1150px;
	margin:0 auto;
	
}

.color_box
{
	height:100px;
	width:93px;
	background:url(images/Screenshot_2.jpg);
	background-size:93px 100px;
	border:3px solid #aaa;
	position:fixed;
	right:0;
	top:50%;
}

.f_left
{
	float:left;
	overflow:hidden;
}
.f_right
{
	float:right;
	overflow:hidden;
}

a
{
	text-decoration:none;
}

.header
{
	width:100%;
	height:150px;
	overflow:hidden;
	
}



.logo
{
	width:0px;
	
}

.logo a h1:hover
{
	color:#93FAFF;
}

.logo h1
{
	color:#fff;
	font-size:40px;
	margin-left: 35px;
    padding-top: 45px;
	font-weight:initial;
	
}
.menu
{
	margin-top:-45px;
	
}
.menu ul
{
	margin:0px;
	padding:0px;
	list-style:none;
	
}
.menu ul li
{
	display:inline-block;
	
}

.current
{
	
	border-top:2px solid #93FAFF;
}

.current span
{
	color:#93FAFF;
}


.menu ul li a
{
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:25px 25px 0px 25px;
	font-size:22px;
	
	
}
.menu ul li a:hover
{
	color:#93FAFF;
	border-top:2px solid #93FAFF;
}


.content
{
	overflow:hidden;
}

.pics_details
{
	width:575px;
	height:570px;
	
}

.pics_details img
{
	width:575px;
	height:570px;
	
}

.details
{
	background-color:#fff;
}

.details h1
{
	margin:80px 0px 40px 65px;
}

.details p
{	
	line-height:20px;
	color:#000;
	width:400px;
	margin:0 auto;
	
}

button
{
	padding:15px 0px;
	margin-right:10px;
	background:#fff;
	border:1px solid #006699;
	
	
	
}


#button
{
	Width:100%;
	min-height:50px;
	margin-left:63px;
}




.nrml_btn
{
	background:#fff;
}

.nrml_btn a
{
	color:#000;
	padding:15px 30px;
	font-weight:bold;
}

.nrml_btn a:hover
{
	background:#006699;
	color:#fff;
	border-top:1px solid #006699;
	transition: all 0.3s;
}

.ylo_btn
{
	background:#ACA633;
}

.ylo_btn a
{
	color:#000;
	padding:15px 43px;
	font-weight:bold;
}

.ylo_btn a:hover
{
	background:#fff;
	color:#ACA633;
	border-top:1px solid #006699;
	transition: all 0.3s;
}

.blue_btn
{
	background:#006699;
}

.blue_btn a
{
	color:#000;
	padding:15px 52px;
	font-weight:bold;
}

.blue_btn a:hover
{
	background:#fff;
	color:#000;
	border-top:1px solid #006699;
	transition: all 0.3s;
}


.b_button
{
	margin-left:100px;
	margin-top:20px;
	
}

.b_button a
{
	color:#000;
	padding:15px 50px;
	transition: all 0.3s;
}

.download a
{
	color:#fff;
	padding:15px 50px;
	background:#006699;
	transition: all 0.3s;
	border-top:1px solid #006699;
}

.download a:hover
{
	background:#fff;
	color:#000;
	border-top:1px solid #006699;
	transition: all 0.3s;
}

.b_button a:hover
{
	background:#006699;
	color:#fff;
	transition: all 0.3s;
}

.forom
{
	width:450px;
	margin:0 auto;
	overflow:hidden;
	
}

#quality
{
	margin:70px 0px 0px 65px;
}

.details ul
{
	margin-left:100px;
	list-style:none;
}
.details ul li
{
	line-height:22px;
	color:#0066B2;
	font-size:18px;
}

#contact
{
	margin:70px 0px 0px 65px;
}

.details p
{
	margin:20px 0px 25px 65px;
	font-size:16px;
}

#user
{
	margin-bottom:15px;
	padding:8px 12px;
}

#mail
{
	margin-bottom:15px;
	padding:8px 12px;
	margin-left:-197px
	
}

#subjects
{
	padding:8px 12px;
	margin-bottom:15px;
	width:100%;
}

.massage
{
	width:410px;
	min-height:130px;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:15px;
	
}

input[type="button"]
{
	padding:15px 40px;
	background:#fff;
	border:1px solid gray;
	transition:all 0.3s;
	font-weight:bold;
	color:#A9B1C6;
}

input[type="button"]:hover
{
	background:gray;
	color:#fff;
	cursor:pointer;
	transition:all 0.3s;
}


.footer_up
{
	height:300px;
}

.footer_up img
{
	height:300px;
}


.footer
{
	height:80px;
}
.footer p
{
	text-align:center;
	padding-top:40px;
	color:#fff;
}
.{}
.{}








